header {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 20px;
}


body {
    background: #1a1a1a !important;
    border: 2px solid rgb(247, 235, 167);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid rgb(247, 235, 167) !important;
    margin: 20px auto;
    width: 100%;
}

h2 {
    color: rgb(247, 235, 167) !important;
    margin-left: 5%; 
    
    padding-bottom: 0.5%;
}

h3 {
    color: rgb(247, 235, 167) !important;
    
    margin-top: 20px;
    padding-bottom: 0.5%;
}

.popup-content h2{
    margin-left: 20px;
}

.popup-content {
    padding-top: 2%;
    margin-left: 5%;
    color: white !important;
}


section {
    color: white !important;
    font-size: large;
    margin-left: 5%;
    padding-bottom: 2%;
}

.FreqQuestions{
padding-top: 3%;
 margin-left: 5%;
}

.faq-section {
    color: white !important;
    line-height: 35px;
}

header {
    background: transparent;
    color:rgb(247, 235, 167);
    padding: 8px 0 0 0;
    text-align: center;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
    color: white;
    margin-left: 5vw; /* Move form group to the left, but not flush */
}

.form-container {
    display: flex;
    column-gap: 5px;
}

.form-control {
    margin-left: 0;
    width: 60%;
    max-width: 300px;
}

button.btn {
    margin-top: 15px;
    background-color: lightyellow;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 5vw; /* Align button with form fields */
}

.inquires {
    margin-left: 2%;
}


nav.navbar {
    background: transparent !important;
    border-bottom: 2px solid rgb(247, 235, 167);
    margin-bottom: 40px;
}

.navbar-brand img {
    height: 65px;
    margin-left: 40px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: rgb(247, 235, 167) !important;
    font-weight: 600;
    margin: 0 10px;
    transition: color 0.2s;
    border-radius: 5px;
    padding: 8px 16px;
}

.nav-link:hover {
    color: #000 !important;
    background: rgb(247, 235, 167);
}

.nav-link.active {
    color: #000 !important;
    background: rgb(247, 235, 167);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(247, 235, 167)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border-color: rgb(247, 235, 167) !important;
    border-width: 1.5px !important; 
    border-radius: 4px
}

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.scrolltop-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 12px 18px;
  background-color: #b3003b; /* Top button color */
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
.scrolltop-btn:hover {
  background-color: #80002a;
}